.header-container {
    width: 100vw;
    background: linear-gradient(135deg, #ff6b35, #f7931e);
    height: 65px;
    display: flex;
    z-index: 10;

}

.search-container {
    display: flex;
    flex: 6;
    padding-left: 3%;
    align-items: center;
}

.search-container input {
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 20px;
    padding: 2%;
    font-size: 15px;
}

.search-container input:focus {
    outline: none;
}

.nav-container {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-container button {
    background-color: transparent;
    border: transparent;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    font-size: 15px;
    
}

.nav-container button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #e55a2b, #d4831a);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.button-container button {
    background-color: transparent;
    border: transparent;
    padding: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button:hover {
    cursor: pointer;
}

.button-container img {
    height: 80px;
}

